.plugin-display-image {
    float: left;
    padding-right: 1em
}

#sociallinks {
    border-radius: 10px;
    border: 3px solid #BADA55;
    float: left;
    width: 98%;
}

.form-table td {
    padding: 5px 10px;
}

.clear {
    clear: both
}

.adv-left {
    width: 40%;
    float: left;
    text-align: center;
    padding: 55px 0 0
}

.adv-right {
    width: 60%;
    float: right;
    padding: 11px 0
}

.adv-right h3 {
    color: red
}

.adv-right ol li {
    color: #6D8E8F
}

.wrap h2 {
    padding-top: 6px
}
.form-table th {
    padding: 10px 10px 0px 0;
}
.pub-date{
	padding-right: 10px;
}
.mcp-pub-date,.mcp-pub-author,.mcp-post-admin,.mcp-rss{
  padding-right: 10px;
}

/*---------------------------------*/

.posttypemedico {
    /*width: calc(100% - 300px);*/
    padding: 0px 0px 0px 15px;
}
.mpmads{
    float: right;
    margin-left: 20px;
    /*margin-top: 10px;*/
    width: 250px;

}

.switch-field {
    font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;  
    overflow: hidden;
}

.switch-title {
  margin-bottom: 0px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
  float: left;
}

.switch-field label {
  display: inline-block;
  width: 60px;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #A5DC86;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

.option-left {
    width: 70%;
    float: left;
}

.option-right {
    width: 25%;
    float: right;
}


@media only screen and (max-width: 423px) {
    /* For mobile phones: */
  .option-left, .adv-left {
    width: 100%;
    float: left;
    clear: both;
  }

  .option-right {
      width: 100%;
      float: left;
  }
}


@media (max-device-width: 320px) {
 .option-left, .adv-left {
    width: 120%;
    float: left;
    clear: both;
  }

  .option-right {
      width: 100%;
      float: left;
  }
}

@media only screen and (max-width: 767px) {
  #sociallinks{
    width: 95%;
  }
  .adv-right h3{
    padding:0 10px;
  }
    /* For mobile phones: */
  
 .adv-right{
  width: 100%;
  padding: 0;
 }
  .option-left, .adv-left {
    width: 100%;
    float: left;
    clear: both;
    padding: 10px 0 0;
  }
  .option-right {
      width: 100%;
      float: left;
  }
}

@media only screen and (min-width:768px) and (max-width:1179px){
  #sociallinks{
    width: 96%;
  }
  .adv-left{
    width: 38%;
  }
  .option-left {
    width: 61%;
    float: left;
    clear: both;
    margin: 0 20px 0 0px;

}
.option-right{
  width: 36%;
}
}


@media only screen and (max-width: 1024px) {
    /* For mobile phones: */
  
}